.container {
    position: relative;

    height: 720px;

    background-color: #000;
}

.container h2 {
    position: relative;

    top: 60px;

    margin: auto;

    width: 710px;
    height: 130px;

    color: #FFF;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: 70px;
}

.card_container {
    width: 80%;

    display: flex;
    justify-content: space-between;

    left: 0;
    right: 0;
    margin: auto;

    position: absolute;
    top: 260px;
}

.card {
    width: 300px;
    height: 400px;

    border-radius: 10px;
    background: #191919;
}

.card p {
    width: 228px;
}

.profileIcon {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;
}

.profileIcon svg:nth-child(2) {
    position: absolute;
}