.footer {
    height: 381px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: #000;
}

.container {
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 200px;
}

.logo_container {
    position: relative;

    width: 163px;
    height: 44px;

    top: 50px;
    left: 161px;
}

.logo_container img {
    position: absolute;

    left: -9px;
    top: 2px;
}

.logo_container h1 {
    position: absolute;

    top: 15px;
    left: 49px;

    height: 13px;

    color: #FFF;
    font-family: 'Azonix';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logo_container h1 span {
    font-size: 8px;
}

.footer_sections {
    position: relative;
    top: 62px;

    flex: 0 0 326px;

    margin-right: 161px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer_sections h4 {
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-bottom: 14px;
}

.footer_section p {
    color: rgba(255, 255, 255, 0.50);
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-bottom: 20px;
}

.footer>p {
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 26px;
}